/* Reset CSS for browser compatability */

html, body, div, ul, li, p, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: inherit;
  outline: none;
}

html {
  height: 100%;
}

body {
	min-height: 100%;
}